body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background:hsl(30, 54%, 90%) ;
    
   
    
}

section{
   /* width: 380px; */
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
    overflow-x: hidden;
   
   
}

.insidesection{
    width: 83.10vw;
    /* width: 380px;
    padding: 32px; */
  
 background: white;
}

.omelette-image-wrap{
    
    

}

.omelette-image{
   
    /* height: 200px; */
    width: 100vw;
}

.top-text{
    font-family: "Young Serif", seri;
    font-size: 32px;
    font-weight: 400;
}

.para-size{
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: hsl(30, 10%, 34%);
}

.prepare-wrap{
    background: hsl(330, 100%, 98%);
    border-radius: 15px;
    overflow-x: hidden;
}

.preparation{
    
    color:hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif; 
    font-weight: 700;
    font-size: 16px;
}

ol{
    padding-left: 25px;
}


.big-text{
    font-family: "Young Serif", seri;
    font-size: 22px;
    color:  hsl(14, 45%, 36%);
}



.sub-text{
    color:  hsl(14, 45%, 36%) !important;
   
}



table{
    width: 100%;
    
    
}

td{
    padding: 10px;
}



td.sub-text{
    padding-right: 50px;
  
   

}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }




@media(min-width:1000px){
body{
    padding: 5vw;
}
main{
    /* width: 50vw; */
    /* display: flex;
    justify-content: center; */
    border-radius: 20px;
    
}

section{
    width: 50vw;
    
}

.insidesection{
    width: 90%;
}

.omelette-image-wrap{
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 30px;
   
}
    

.omelette-image{
    width: 100%;
    
    border-radius: 10px;
    
   
}
 
}
